# sample CODEOWNERS file at the root of the master branch
# Here's a global owner
* @JimBlizzard

# here's one for /poi files
/poi @JimBlizzard

# change here.

# set the owner for the /trips api
/trips @jimmyblizzard
